/* Footer*/
footer {
    background-color: #F2F2F2;
    color: black;
}

/* Footer Links*/
.f-col {
    font-size: small;
    padding-left: 15px;
}

.f-col h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.f-col ul {
    padding: 0px;
    margin-top: 0px;
}

.f-col ul li {
    margin-bottom: 10px;
    list-style-type: none;
}

.f-col ul li a {
    text-decoration: none;
}

.f-col ul li a:visited {
    color: black;
}

/* Last links of the footer */
.last-footer {
    font-size: small;
    background-color: #DCD191;
    padding: 5px;
    text-align: center;
    color: white;
}

.last-footer ul {
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
}

.last-footer ul li {
    display: inline-block;
    margin-right: 15px;
    padding-top: 5px;
}

.last-footer ul li a {
    text-decoration: none;
}
