* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.f-col {
    width: 16.66666667%;
}

.f-col ul li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.last-footer {
    float: right;
    font-size: small;
}

.last-footer ul {
    display: inline-block;
    padding: 0px;
}

.last-footer ul li {
    display: inline-block;
    text-decoration: underline;
    margin-right: 15px;
}

.last-footer ul li a:visited {
    color: black;
}

.last-footer ul li a:hover {
    color: black;
}

