* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

/* header - logo */
header {
    padding: 5px 15px;
    background-color: #F8AA55;
    position: sticky;
    top: 0;
}

.brand-logo img {
    width: 80px;
}

.header-logos {
    float: right;   
    padding: 18px 0;
    padding-left: 25px;
}

@media screen and (min-width: 769px) {
    header {
        padding-right: 4%;
    }

    #menu-icon {
        display: none;
    }
}