/* nav */
nav {
    background-color: #F2F2F2;
}

nav ul {
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
}

nav ul li {
    list-style-type: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 1035px) {
    nav {
        background-color: #F8AA55;
    }

    nav::after {
        clear:both;
        content: "";
        display: block;
    }

    nav ul {
        padding-top: 0;
    }

    nav ul li {
        padding: 10px 2%;
        float: right;
        width: 20%;
    }

    nav ul li a {
        color: white;
        font-size: 0.9em;
        padding-bottom: 0;
    }

    nav ul li:hover {
        background-color: #9f784e;
    }
}