body {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}

nav a {
    background-color: #fff;
    color: black;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding: 8px 14px;
    margin-top: 5px;
    margin-right: 10px;
    float: right
}

main {
    clear: right;
}

main p {
    color: #656565;
}

main, footer {
    padding: 12px;
}

form span {
    color: red;
}

label {
    color: rgba(80,80,80,.80);
    font-size: 13px;
    font-weight: 700;
}

input {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 5px;
    height: 48px;
    padding: 9px 12px;
    border: 2px solid rgba(34,34,34,.15)
}

input[type="submit"] {
    border-radius: 24px;
    background-color: #909090;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding: 12px 18px;
    color: #fff;
}

.horizontal-line {
    border-bottom: 1px solid rgba(34,34,34,.15);
    text-align: center;
    margin: 25px auto;
    line-height: 0;
}

.horizontal-line span {
    padding: 12px;
    background-color: white;
    color: black;
}

.signup-options a {
    color: black;
    border: 2px solid #000;
    border-radius: 24px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 18px;
    margin-bottom: 12px;
    font-weight: 700;
    
}

.signup-options span {
    vertical-align: middle;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
}

.signup-options img {
    vertical-align: middle;
}

footer {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #595959;
}